@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Trirong:ital,wght@1,600&family=Work+Sans&display=swap');

:root {
    --parchment: #eae4cb;
    --airblue: #72a9c3; 
    --huntergreen: #38563e;
    --timber: #f7c7b6;
    --vandyke: #362b2b;
}

/* Styling the body */
body {
    background-color: var(--parchment);
}

/* Flashcard page layout */
.card-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
    padding: 20px;
  }

/* General flashcard styling */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    transform-style: preserve-3d;
    height: 200px;
    width: 500px;
    transition: 150ms;
    cursor: pointer;
    /* Define the 3D transformation */
    transform: rotateY(var(--rotate-y, 0));
    background-color:   #eae4cb;

}

.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
    /* Rotate the card 180 degrees on the Y-axis for the flip effect */
    --rotate-y: 180deg;
}

.card .front,
.card .back {
    /* Position the content absolutely within the card */
    position: absolute;
    padding: 1rem;
}

.card .front {
    opacity: 1;
    transition: opacity 150ms;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Hide the backface of the card during transitions */
    backface-visibility: hidden;
    background-color: #362b2b;
    color: white;
}

.card.flip .front {
    /* Fully hidden when flipped */
    opacity: 0;
}

/* Styling for the back side of the card */
.card .back {
    /* Fully hidden by default */
    opacity: 0;
    transform: rotateY(180deg);
    transition: opacity 150ms, transform 150ms;
}

.card.flip .back {
    /* Fully visible when flipped */
    opacity: 1;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
    padding: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/* Flashcard page button styling */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.correct-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    background-color: #38563e;
}

.incorrect-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: darkred;
}

.correct-button {
    background-color: #38563e;
}

.incorrect-button {
  background-color: darkred;
}

.button-container {
    display: flex;
    justify-content: space-between;
 }
  
.next-button, .finish-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #72a9c3;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}
  
.next-button:hover, .finish-button:hover {
    background-color: #362b2b;
}

.next-button {
    background-color: #72a9c3;
}

.answer-status {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: #362b2b;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 20px;
}

.finish-message {
    font-size: 18px;
    color: #362b2b;
}


/* General element styling */
p {
    font-family: 'Work Sans', sans-serif;
    color: var(--vandyke);
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    font-family: 'Trirong', serif;
}

li {
    font-family: 'Work Sans', sans-serif;
}

.footer {
    background-color: var(--airblue);
    display: flex;
    align-self: end;
}

.footer-p {
    color: var(--parchment);
}

/* Homepage */
.navbar {
    bottom: 0;
    background-color: var(--airblue);
    color:  var(--parchment);
}

.logo {
    height: 2em;
}

.home-container {
    background-color: var(--parchment);
}

.main-content {
    min-height: calc(100vh - 62px);
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.linktext {
    color: var(--parchment);
    
}

.navbox-flash {
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: var(--airblue);
    margin: 15px;
}

.navbox-quiz {
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: var(--huntergreen);
    margin: 15px;
}

.navbox-podcasts {
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: var(--timber);
    margin: 15px;
}

.navbox-login {
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: #362b2b;
    margin: 15px;
}

.navbox-signup {
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: #362b2b;
    margin: 15px;
}

/* Login and signup container styling */
.signup-section {
    margin: 30px;
}

.login-section {
    margin: 30px;
}

.card-header {
    background-color: var(--parchment);
    color: var(--airblue);
}

.card-body {
    background-color: var(--airblue);
    color: var(--parchment);

}

.btn-submit {
    background-color: var(--huntergreen);
    color: var(--vandyke);

}

.error {
    background-color: var(--timber);
    color: var(--vandyke);
    font-family: 'Work Sans', sans-serif;
}

/* Quiz page styling */
.quiz-home {
    background-color: var(--parchment);
}

.quiz-header {
    text-align: center;
    color: var(--airblue);
}

.link-containers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.desc-h4 {
    text-align: center;
    color: var(--vandyke);
}

.indv-quiz1 {
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: var(--huntergreen);
    margin: 15px;
}

.indv-quiz2 {
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: var(--airblue);
    margin: 15px;
}

.indv-quiz3 {
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: var(--airblue);
    margin: 15px;
}

.indv-quiz4 {
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: var(--timber);
    margin: 15px;
}

/* Individual quiz page styling */
.quiz-container {
    background-color: var(--parchment);
}

.question-container {
    height: 400px;
    width: 900px;
    margin: 30px;
    display: block;
    text-align: start;
    background-color: var(--airblue);
    color: var(--parchment);
}

.question {
    text-align: center;
    margin-bottom: 10px;
}

.next-question, .back-btn {
    display: flex;
    align-self: center;
    background-color:var(--timber);
    color: var(--vandyke);
}

.btns {
    display: flex;
    justify-content: space-around;
}

.score-results {
    background-color: var(--timber);
    color: var(--vandyke);
}

/* Podcast page styling */

.podcast-container {
    background-color: var(--parchment);
    color: var(--airblue);
}

/* Media queries */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
  